<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>[[#{ejemplar.edit.headline}]]</title>
</head>
<body>
<div layout:fragment="content">
    <div class="d-flex flex-wrap mb-4">
        <h1 class="flex-grow-1">[[#{ejemplar.edit.headline}]]</h1>
        <div>
            <a th:href="@{/ejemplars}" class="btn btn-secondary">[[#{ejemplar.edit.back}]]</a>
        </div>
    </div>
    <div th:replace="~{fragments/forms2::globalErrors('ejemplar')}" />
    <form th:action="${requestUri}" method="post">
        <div th:replace="~{fragments/forms2::inputRow(object='ejemplar', field='idEjemplar', disabled=true, type='number')}" />
        <div th:replace="~{fragments/forms2::inputRow(object='ejemplar', field='libro', type='select')}" />
        <div th:replace="~{fragments/forms2::inputRow(object='ejemplar', field='revista', type='select')}" />
        <input type="submit" th:value="#{ejemplar.edit.headline}" class="btn btn-primary mt-4" />
    </form>
</div>
</body>
</html>
