<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{ejemplar.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{ejemplar.list.headline}]]</h1>
                <div>
                    <a th:href="@{/ejemplars/add}" class="btn btn-primary ms-2">[[#{ejemplar.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${ejemplars.empty}">[[#{ejemplar.list.empty}]]</div>
            <div th:if="${!ejemplars.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{ejemplar.idEjemplar.label}]]</th>
                            <th scope="col">[[#{ejemplar.libro.label}]]</th>
                            <th scope="col">[[#{ejemplar.revista.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="ejemplar : ${ejemplars}">
                            <td>[[${ejemplar.idEjemplar}]]</td>
                            <td>[[${ejemplar.libro}]]</td>
                            <td>[[${ejemplar.revista}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/ejemplars/edit/{idEjemplar}(idEjemplar=${ejemplar.idEjemplar})}" class="btn btn-sm btn-secondary">[[#{ejemplar.list.edit}]]</a>
                                    <form th:action="@{/ejemplars/delete/{idEjemplar}(idEjemplar=${ejemplar.idEjemplar})}"
                                            th:hx-confirm="#{delete.confirm}" method="post" class="d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{ejemplar.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
