<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        >
    <head>
        <title>[[#{prestamo.edit.headline}]]</title>

        <!-- Enlace al archivo de estilo CSS de Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

        <!-- Enlace al archivo de script de Bootstrap (jQuery debe estar incluido antes) -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{prestamo.edit.headline}]]</h1>
                <div>
                    <a th:href="@{/prestamos}" class="btn btn-secondary">[[#{prestamo.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms2::globalErrors('prestamo')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms2::inputRow(object='prestamo', field='idPrestamo', disabled=true, type='number')}" />
                <div th:replace="~{fragments/forms2::inputRow(object='prestamo', field='tipo',disabled=true)}" />
                <div th:replace="~{fragments/forms2::inputRow(object='prestamo', field='fechaPrestamo',disabled=true)}" />
                <div th:replace="~{fragments/forms2::inputRow(object='prestamo', field='fechaFin',disabled=true)}" />
                <div th:replace="~{fragments/forms2::inputRow(object='prestamo', field='fechaEntrega',disabled=true)}" />
                <div th:replace="~{fragments/forms2::inputRow(object='prestamo', field='ejemplar', type='select',disabled=true)}" />
                <input type="submit" th:value="#{prestamo.edit.btn}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
