<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>La Tercera Venida   </title>
        <!--Favicon-->
        <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}" />
        <!--Style-->
        <link rel="stylesheet" type="text/css" th:href="@{css/menuSupervisor.css}">
        <!-- Fonts Google-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=ABeeZee&display=swap" rel="stylesheet">
</head>
<body>

    <header class="container-head">
        <h1 class="title-head">
            Bienvenido
        </h1>
    </header>
    <div class="container-main">
        <nav class="container-options">
        
        </nav>
        <main class="container-content">
            
        </main>
    </div>
</body>
</html>