
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">

  <title>La Tercera Venida</title>
  <!--Favicon-->
  <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}" />
  <!--Style-->
  <link rel="stylesheet" type="text/css" th:href="@{css/menuSupervisores.css}">
  <!-- Fonts Google-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=ABeeZee&display=swap" rel="stylesheet">
</head>
<body>


<header class="container-head">
  <h1 class="title-head">BIENVENIDO</h1>
</header>
<div class="container-content">
  <nav class="nav-container">
    <a th:href="@{/menuSupervisor}" class="youAreHere va">Principal</a>
    <a th:href="@{/usuarios/productividad}" class="va">Productividad</a>
    <a th:href="@{/usuarios}" class="va">Empleados</a>
    <a th:href="@{/fichados}" class="va">Fichados</a>
    <a th:href="@{/cerrarSesion}" class="va">Cerrar Sesión</a>
  </nav>
  <main class="container-main">
    <div class="content-main">
      <div class="opacity-uno">
        <h2 class="title-content">Gestion Supervisores</h2>
        <p class="parrafo-content">Sistema para administración en el que podrás averiguar: </p>
        <ul>
          <li>Empleados</li>
          <li>Productividad de Empleados</li>
          <li>Empleados fichados</li>
        </ul>
      </div>
    </div>
  </main>
</div>
</body>
</html>