<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{roles.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{roles.list.headline}]]</h1>
                <div>
                    <a th:href="@{/roless/add}" class="btn btn-primary ms-2">[[#{roles.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${roleses.empty}">[[#{roles.list.empty}]]</div>
            <div th:if="${!roleses.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{roles.idRol.label}]]</th>
                            <th scope="col">[[#{roles.rol.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="roles : ${roleses}">
                            <td>[[${roles.idRol}]]</td>
                            <td>[[${roles.rol}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/roless/edit/{idRol}(idRol=${roles.idRol})}" class="btn btn-sm btn-secondary">[[#{roles.list.edit}]]</a>
                                    <form th:action="@{/roless/delete/{idRol}(idRol=${roles.idRol})}"
                                            th:hx-confirm="#{delete.confirm}" method="post" class="d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{roles.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
