<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>[[#{libros.edit.headline}]]</title>
</head>
<body>
<div layout:fragment="content">
    <div class="d-flex flex-wrap mb-4">
        <h1 class="flex-grow-1">[[#{libros.edit.headline}]]</h1>
        <div>
            <a th:href="@{/libros}" class="btn btn-secondary">[[#{libros.edit.back}]]</a>
        </div>
    </div>
    <div th:replace="~{fragments/forms2::globalErrors('libros')}" />
    <form th:action="${requestUri}" method="post">
        <div th:replace="~{fragments/forms2::inputRow(object='libros', field='isbn', disabled=true, type='number')}" />
        <div th:replace="~{fragments/forms2::inputRow(object='libros', field='titulo')}" />
        <div th:replace="~{fragments/forms2::inputRow(object='libros', field='libroAutorAutors', type='multiselect')}" />

        <input type="submit" th:value="#{libros.edit.headline}" class="btn btn-primary mt-4" />
    </form>
    <a th:href="@{/editorials}" class="btn btn-secondary">Agregar editorial libro</a>
    <a th:href="@{/autors}" class="btn btn-secondary">Agregar Autor Nuevo</a>
    <a th:href="@{/generos}" class="btn btn-secondary">Agregar Genero con libro</a>
</div>
</body>
</html>
