<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{revista.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{revista.list.headline}]]</h1>
                <div>
                    <a th:href="@{/revistas/add}" class="btn btn-primary ms-2">[[#{revista.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${revistas.empty}">[[#{revista.list.empty}]]</div>
            <div th:if="${!revistas.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{revista.idRevista.label}]]</th>
                            <th scope="col">[[#{revista.titulo.label}]]</th>
                            <th scope="col">[[#{revista.ejemplar.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="revista : ${revistas}">
                            <td>[[${revista.idRevista}]]</td>
                            <td>[[${revista.titulo}]]</td>
                            <td>[[${revista.ejemplar}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/revistas/edit/{idRevista}(idRevista=${revista.idRevista})}" class="btn btn-sm btn-secondary">[[#{revista.list.edit}]]</a>
                                    <form th:action="@{/revistas/delete/{idRevista}(idRevista=${revista.idRevista})}"
                                            th:hx-confirm="#{delete.confirm}" method="post" class="d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{revista.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
