<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{fichado.edit.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{fichado.edit.headline}]]</h1>
                <div>
                    <a th:href="@{/fichados}" class="btn btn-secondary">[[#{fichado.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms2::globalErrors('fichado')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms2::inputRow(object='fichado', field='idFichado', disabled=true, type='number')}" />
                <div th:replace="~{fragments/forms2::inputRow(object='fichado', field='fechaFichaje')}" />
                <div th:replace="~{fragments/forms2::inputRow(object='fichado', field='horaEntrada')}" />
                <div th:replace="~{fragments/forms2::inputRow(object='fichado', field='horaSalida')}" />
                <div th:replace="~{fragments/forms2::inputRow(object='fichado', field='tiempoTotalDia')}" />
                <input type="submit" th:value="#{fichado.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
